  body{
    background-color: #e5e5e5;
  	}
    .wrapper{
      margin: 0 auto;
      margin-bottom: 5em;
      width: 80%;
      display: block;
      height: 100vh;
    }
    video{
      width:100% !important;
      height: auto !important;
    }
    .video{
      margin-top: 2em;
    }
    .wrapper ul{
      font-size: 1.2rem;
    }
   .top-toggle{
   	z-index: 999;
      background-color:#979797;
      color:#fff;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      padding:1em;
      transition: color 250ms ease-in-out;
     }
    .top-toggle:hover{
      color:#007bff;
      text-decoration: none;
    }
    .fixed-right{
	    position:fixed;
	    top:75%;
	    right:0;
	    transform: translateX(5em);            
     }
    .top-active{
       transform: translate(0);
    }

    .uppercase{
      text-transform: uppercase;
    }
    .bold{
    	font-weight: bold;
    }

    .bottom-margin{
    	margin-bottom: 1em;
    }


    @media (max-width: 768px) { 
    	.small-header{
    		font-size: 2rem !important;
    	}
     }

     @media (max-width: 576px) {
     	.navigation{
     		list-style: none;
     		text-align: center;
     		padding:unset; 
     	}
     	.mobile-center{
     		position: relative;
     		left:50%;
     		transform: translateX(-50%);
     	}


     }